<div class="container">
	<h1>Pages#home</h1>
	<p>Find me in app/views/pages/home.html.erb</p>
	<%= link_to "doctor sign up", new_doctor_registration_path %>
	<%= link_to "user sign up", new_user_registration_path %>
</div>

